{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"> Site Admin Matthew Cintron</a>
              <small class="text-muted">Created 4/13/2019</small>
            </div>
            <h3><a class="article-title" href="#">Welcome To The Flask Issue Tracker</a></h3>
            <p class="article-content" style="width: 90%">
                Flask Issue Tracker is a web application built using Python, Javascript, bootstrap and SQL databases in
                the flask framework. The site allows for users to track work on certain projects and open or close
                issues on those projects users have Project pages and can upload images to them witch are tracked
                and re-sized for space on the server with the python lib Pillows all data entry's are saved and
                searchable through the sites link to a SQL data base passwords can be reset via email
            </p>
          </div>
    </article>
{% endblock content %}

